.tradingview-widget-copyright {
    font-size: 26px !important;
    line-height: 40px !important;
    text-align: center !important;
    vertical-align: middle !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Trebuchet MS', Roboto, Ubuntu, sans-serif !important;
    color: #B2B5BE !important;
    display: none !important;
}
